{{ define "main" }}
  {{ partial "header" . }}
  <div class="row">    
      <div class="col-sm-2">        
        <ul class="list-group">
          {{ range .Parent.Pages.ByWeight }}
            <li class="list__post list-group-item">
              <span></span>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-sm-10">
            <article>
            <h2>{{ .Title }}</h2>
            <hr/>
            <img class="product-image" src="{{ .Params.image.link }}" alt="{{ .Params.image.name }}" title="{{ .Title }}">
            {{ .Content }}
            </article>
      </div>
  </div>
  {{ partial "footer" . }}
{{ end }}