{{ define "main" }}
  <main>
    {{ partial "header" . }}
    <div class="container-fluid">
    <div class="row rowblock">
      <div class="col-sm-2 hidden-xs"></div>
      <div class="col-sm-8 col-xs-12 centerblock">
          <div align="center">
            <img src="/images/janusec.png" title="Janusec Application Gateway" class="biglogo" />
            <h1 class="slogan">{{ .Params.Slogan }}</h1>
            <p class="front-description">{{ .Params.Description }}</p>
            <button onclick="location.href='https://github.com/Janusec/janusec'" class="bigbtn">
              Github
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button onclick="location.href='{{ .Params.Doc }}'" class="bigbtn">
              Quick Start
            </button>
          </div>
      </div>
      <div class="col-sm-2 hidden-xs"></div>
    </div>
  </div>

  <div class="container-fluid">    
      <div class="row rowblock2"> 
            <div class="col-md-3 col-sm-6">
              <img class="feature-image" src="/images/waf.png">                     
              <h5>Web Application Firewall</h5>
              <ul>
                  <li>Anti CC Attacks</li>
                  <li>Anti SQL Injection, XSS etc.</li>
                  <li>Anti Sensitive Data Leakage</li>                  
                  <li>HTTPS support, No Agent Required</li>
              </ul>  
            </div>
          
            <div class="col-md-3 col-sm-6">
              <img class="feature-image" src="/images/web-admin.png">            
              <h5>Web Administration</h5>
              <ul>
                  <li>No SSH</li>
                  <li>Unified Web Administration</li>
              </ul>  
            </div>  
          
            <div class="col-md-3 col-sm-6">
              <img class="feature-image" src="/images/cert-icon.png">        
              <h5>Certificate Protection</h5>
              <ul>                  
                  <li>Encrypted Storage for Private Key</li>
                  <li>Certificate Files Not Used</li>
                  <li>Memory Use</li>
              </ul>   
          </div> 

          <div class="col-md-3 col-sm-6">
              <img class="feature-image" src="/images/gate.png">        
              <h5>Scalable Architecture</h5>
              <ul>
                  <li>Load Balance / Multiple Nodes</li>
                  <li>Private Deployment</li>                
                  <li>Autosynchronous Policies</li>
                  <li>Delivery as Software</li>
              </ul>   
          </div> 

      </div>
    </div>
    

    {{ range $index,$elem := .Params.carousel }}
    <div class="container-fluid">    
      <div class="row rowblock">        
      <div class="col-sm-6 col-xs-12">
          <a href="{{ $elem.link }}">
              <img src="{{ $elem.img }}">
          </a> 
      </div> 
      <div class="col-sm-6 hidden-xs">
          <h3>{{ $elem.header }}</h3>
          <p>
            <br/>
            {{ $elem.paragraph }}
          </p>  
      </div>
      </div>
    </div>
    {{ end }}

    {{ partial "footer" . }}
  </main>
{{ end }}